.chordscontainer {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    .chords {
        padding: 1rem;
        border-radius: 5;
        text-align: center;
    }
}