$gird-box-margin: 10px;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sidebar {
    grid-area: sidebar;
    margin: $gird-box-margin;
}

.content {
    grid-area: content;
    position: relative;
    margin: $gird-box-margin;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header  header  header" "content content sidebar" "footer  footer  footer";
}

.material-icons {
    text-decoration: none;
    cursor: pointer;
    padding-right: 8px;
    color: #fff;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}